<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
		crossorigin="anonymous">
	
</head>
<body>
	<div class="container col-8">
	<h1>Flight available</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Flight Id</th>
				<th>Date</th>
				<th>Destination</th>
				<th>Location</th>
				<th>Flight Number</th>
				<th>Flight Time</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="flight: ${flightlist}">
				<td th:text="${flight.flightId}"></td>
				<td th:text="${flight.flightDate}"></td>
				<td th:text="${flight.destination}"></td>
				<td th:text="${flight.currentLocation}"></td>
				<td th:text="${flight.flightNumber}"></td>
				<td th:text="${flight.flightTime}"></td>
				<td>
					<a th:href="@{/bookBtn(flightId=${flight.flightId})}" class="btn btn-primary">Book</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>